name: Python package

on:
  push: 
    branches: [ new_test_docker_nginx]
  pull_request:
    branches: [ new_test_docker_nginx]
  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
      
            
    - name: Install dependencies
      run: |
        echo ${{ secrets.REMOTE_FOLDER }}
        echo ${{ secrets.SECRET_KEY }}
        echo ${{ secrets.DB_NAME }}
        echo ${{ secrets.DB_USER }}
        echo ${{ DB_PASSWORD }}
        echo ${{ DB_HOST }}
        echo ${{ DB_PORT }}

        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python manage.py test
